<ion-content class="autoCompleteModal">
    <ion-label class="contentHandler">
        <ion-searchbar #searchBar class="custom_searchbar" [(ngModel)]="autocomplete.query" [showCancelButton]="true" (ionInput)="updateSearch()" (ionCancel)="dismiss()" aria-autocomplete="" autofocus></ion-searchbar>
        <ion-list class="suggestionsBoxList">
            <ion-item class="suggestionsBox" *ngFor="let item of autocompleteItems" tappable (click)="chooseItem(item)">
                <!-- <ion-icon class="markerIcon"></ion-icon> -->
                {{ item }}
            </ion-item>
        </ion-list>
    </ion-label>
</ion-content>