page-auto-complete-modal {
    .autoCompleteModal {
        padding: 16px !important;
        background-color: rgba(36, 34, 34, 0.46);
    }
    .contentHandler {
        height: 40%;
    }
    .markerIcon {
        background: url('./../assets/icon/marker.png');
        background-size: 40px;
        color: #fff;
    }
    .suggestionsBoxList {
        max-height: 214px;
        overflow: scroll;
    }
    .suggestionsBox {
        padding: 0 20px;
    }
    .suggestionsBox .label {
        color: #000;
    }
    .searchbar-input-container {
        // border-bottom: 1px solid #ccc;
    }
    .searchbar-md .searchbar-input,
    .searchbar-ios .searchbar-input {
        box-shadow: none;
        border-radius: 5px;
        border: 1px solid #ccc;
    }
    // .searchbar-ios .searchbar-has-focus .searchbar-input {
    //     border: 1px solid #dc1044;
    // }
    .searchbar-ios.searchbar-show-cancel.searchbar-has-focus .searchbar-ios-cancel,
    .searchbar-md.searchbar-show-cancel.searchbar-has-focus .searchbar-md-cancel {
        color: #dc1044;
    }
    .searchbar-ios .searchbar-ios-cancel,
    .searchbar-md .searchbar-md-cancel {
        display: block;
        color: #dc1044;
    }
    .searchbar-md .searchbar-search-icon,
    .searchbar-ios .searchbar-search-icon {
        display: none;
    }
    .custom_searchbar {
        background: #fff !important;
        margin-top: 5px;
        // border-bottom: 1px solid #ccc;
    }
    .contentHandler {
        background: #fff !important;
        border-radius: 8px;
        top: 50%;
        transform: translate(-50%, -50%);
        position: absolute;
        width: 90%;
        left: 50%;
    }
    .searchbar-has-value.searchbar-has-focus .searchbar-clear-icon,
    {
        display: none;
    }
    .searchbar-search-icon {
        color: #dc1044 !important;
    }
    // .searchbar-ios-cancel disable-hover .button .button-ios .button-clear .button-clear-ios {
    //     display: block;
    // }
    @media only screen and (min-height: 480px) and (max-height:550px) {
        .suggestionsBoxList {
            max-height: 142px;
        }
    }
}