page-service-select {
    .container,
    .fixed-content,
    .scroll-content {
        padding: 10px 20px;
    }
    .colorLabelDefault {
        color: #000;
    }
    .serviceSelect {
        width: 100%;
        max-width: 100%;
        padding: 11px 10px 5px 10px;
        font-size: 1.4rem;
        border-bottom: 1px solid #ccc;
    }
    .selectEndContainer {
        padding: 0 25px;
        max-width: 200px;
        margin-bottom: 16px;
    }
    .selectEndAfter {
        padding: 5px 20px;
        border: 1px solid #ccc;
        background: #ececec;
        border-radius: 4px;
    }
    .selectEndAfter .select-text {
        align-self: flex-end;
        min-width: 18px
    }
    .selectEndContainer .colorLabelDefault {
        color: #000 !important;
        letter-spacing: 1px;
        font-size: 1.4rem;
    }
    .selectEndAfter .select-icon .select-icon-inner {
        color: #dc1044;
    }
    .serviceSelect .select-icon .select-icon-inner {
        color: #dc1044;
    }
    .serviceSelectdropdown,
    .scheduleSelectdropdown {
        margin-bottom: 16px;
    }
    .radioGrouptitle {
        font-size: 1.6rem;
        color: #000;
        letter-spacing: 1px;
        font-weight: 400;
    }
    .segment_container {
        margin: 20px 0 20px;
    }
    .scheduleNow {
        height: 0;
        overflow: hidden;
        margin: 0 !important;
        transition: all 0.3s;
    }
    .showNowBox {
        padding-top: 10px;
        margin: auto;
        height: 290px;
    }
    .dateContainer {
        padding: 11px;
        border: 1px solid #ccc;
        color: #fff;
        border-radius: 5px;
        text-align: center;
        background-color: #37414a;
    }
    .scheduleBox {
        margin: 0;
        height: 0;
        transition: all 0.3s;
        overflow: hidden;
    }
    .showScheduleBox {
        padding-top: 10px;
        height: 525px;
    }
    .scheduleDate {
        width: 100%;
        position: relative;
        font-size: 1.4rem;
        margin: 7px 0px 16px !important;
    }
    .calenderIcon {
        position: absolute;
        right: 10px;
        top: 50%;
        font-size: 3.0rem;
        color: #dc1044;
        transform: translate(0, -50%);
    }
    .paddingForCheckBox {
        padding: 0 25px;
    }
    .textArea {
        border: 1px solid #ccc !important;
        border-radius: 10px !important;
    }
    .textArea .text-input {
        margin: 0;
        padding: 10px;
    }
    .submit_button {
        width: 100%;
        padding: 8px 0px;
        height: auto;
    }
    .location {
        width: calc(100% - 77px);
        color: #5a5959;
        display: inline-block;
        white-space: normal;
        font-style: italic;
    }
    .changeLocationLink {
        font-size: 1.0rem;
        float: right;
    }
    .locationContainer {
        margin: 20px 0px !important;
    }
    .segment-md .segment-button {
        font-size: 1.2rem !important;
        letter-spacing: 1px;
    }
    .arrowBack {
        position: absolute;
        font-size: 4.2rem;
        color: #968e8e;
        left: 11px;
        width: 35px;
        text-align: center;
        z-index: 5;
        top: 50%;
        transform: translate(0, -50%);
    }
    .arrowForward {
        position: absolute;
        font-size: 4.2rem;
        color: #968e8e;
        right: 11px;
        text-align: center;
        width: 35px;
        z-index: 5;
        top: 50%;
        transform: translate(0, -50%);
    }
    .workeefyerTitle {
        color: #000;
        letter-spacing: 1px;
        padding: 0 0px 7px;
        font-size: 1.5rem;
        font-weight: 500;
    }
    .workeefyerList {
        height: 50vw;
        position: relative;
        padding: 0 9px;
    }
    .workeefyerImg {
        height: 11rem;
        width: auto;
        border-radius: 100%;
        border: 1px solid #dc1044;
    }
    .workeefyerName {
        color: #000;
        text-transform: capitalize;
        letter-spacing: 1px;
        padding-top: 6px;
    }
    @media screen and (max-width:320px) {
        .serviceSelect {
            font-size: 1.5rem;
        }
        .paddingForCheckBox,
        .selectEndContainer {
            padding: 0 10px;
        }
        .workeefyerTitle {
            font-size: 1.4rem;
        }
        .workeefyerImg {
            height: 9rem;
        }
        .workeefyerName {
            font-size: 1.5rem;
        }
    }
}

.item-radio-checked.item-md ion-label,
.item-radio.item-ios ion-label,
.item-radio.item-md ion-label,
{
    color: #000;
}

.radio-ios .radio-icon {
    width: 22px;
    height: 23px;
    border: 1px solid #000;
    border-radius: 100%;
    padding: 11px;
}

.item-radio.item-md ion-label,
.item-radio.item-ios ion-label {
    // color: #dc1044;
    letter-spacing: 1px;
    font-size: 1.4rem;
}

.radio-ios .radio-checked .radio-inner {
    width: 7px;
    height: 24px;
    left: 12px;
    top: -7px;
}

.radio-md .radio-checked,
.radio-md [aria-checked=true] .radio-icon,
.radio-ios .radio-checked .radio-inner {
    border-color: #dc1044;
}

.radio-md .radio-checked .radio-inner,
.radio-md .radio-inner {
    background-color: #dc1044;
}

.noWorkeefyer {
    text-align: center;
    font-size: 1.8rem;
    color: #000;
    /* font-weight: 600; */
    letter-spacing: 0.1rem;
    border: 1px solid #ccc;
    padding: 2rem 1rem;
}