<ion-header>

    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>service-select</ion-title>
    </ion-navbar>

</ion-header>


<ion-content class="container">
    <ion-item class="serviceSelectdropdown">
        <ion-select class="serviceSelect" [(ngModel)]="selectedService" placeholder="Service Select" [selectOptions]="serviceSelectOption">
            <ion-option *ngFor="let service of activeServices;let i = index" checked="selectedService=='HomeClean'" value="{{service.serviceName}}" (ionSelect)="defaultServiceChange(service.serviceName)">{{service.displayName}}</ion-option>
        </ion-select>
    </ion-item>
    <ion-item class="scheduleSelectdropdown">
        <ion-select class="serviceSelect" [(ngModel)]="availServiceTime" placeholder="Schedule Service" [selectOptions]="scheduleOption">
            <ion-option checked="availServiceTime==Now" (ionSelect)="resetScheduleObj()">Now</ion-option>
            <ion-option (ionSelect)="resetScheduleObj()">Schedule</ion-option>
        </ion-select>
    </ion-item>


    <!-- section for schedule now starts-->
    <ion-list class="scheduleNow" [ngClass]="{'showNowBox':availServiceTime =='Now'}">
        <ion-textarea class="textArea" cols="40 " name="Text1" [(ngModel)]="description" placeholder="Description not more than 100 words" rows="8"></ion-textarea>
        <ion-label class="locationContainer">
            <p class="location">@ {{selectedAddress}}</p> <a class="changeLocationLink" (click)="showAddressModal()">Change Location</a></ion-label>
        <button class="submit_button" ion-button [disabled]="!selectedService" (click)="placeOrder(1)">Order Now</button>
    </ion-list>
    <!-- section for schedule now end-->

    <!-- section for schedule later starts-->
    <ion-list class="scheduleBox" [ngClass]="{'showScheduleBox':availServiceTime =='Schedule'}">
        <ion-label ion-datepicker [(value)]="scheduleDate" [min]="startDate" clear class="scheduleDate" (ionChanged)="setScheduleSet($event)">
            <div class="dateContainer">{{isScheduleDate ? (scheduleDate|date):'Pick A date'}}
                <img class="calenderIcon" height="32px" width="auto" src="./assets/icon/calender.png">
                <!-- <ion-icon class="calenderIcon" ios="md-calendar" md="md-calendar"></ion-icon> -->
            </div>
        </ion-label>
        <ion-segment class="schedule_segment_container" [(ngModel)]="scheduleTime" [disabled]="!isScheduleDate">
            <ion-segment-button value="morning" (click)="selectTime(1)">
                Morning
            </ion-segment-button>
            <ion-segment-button value="afternoon" (click)="selectTime(2)">
                Afternoon
            </ion-segment-button>
            <ion-segment-button value="evening" (click)="selectTime(3)">
                Evening
            </ion-segment-button>
        </ion-segment>
        <ion-list radio-group>
            <ion-label class="radioGrouptitle">Recurring:</ion-label>
            <ion-row>
                <ion-item col-6 class="paddingForCheckBox">
                    <ion-label>Weekly</ion-label>
                    <ion-radio value="weekly" [disabled]="!scheduleTime" (ionSelect)="updateCheckedOptions(1)"></ion-radio>
                </ion-item>
                <ion-item col-6 class="paddingForCheckBox">
                    <ion-label>Monthly</ion-label>
                    <ion-radio value="monthly" [disabled]="!scheduleTime" (ionSelect)="updateCheckedOptions(2)"></ion-radio>
                </ion-item>
            </ion-row>

        </ion-list>
        <ion-item class="selectEndContainer">
            <ion-label class="colorLabelDefault">End After</ion-label>
            <ion-select class="selectEndAfter" placeholder="0" [disabled]="!scheduleTime">
                <ion-option *ngFor="let count of endAfterArray; let i=index" (ionSelect)="setOccurence(i+1)">{{i+1}}</ion-option>
            </ion-select>
        </ion-item>
        <ion-textarea class="textArea" cols="40 " [(ngModel)]="description" name="Text1 " placeholder="Description not more than 100 words " rows="8" [disabled]="!scheduleTime"></ion-textarea>
        <ion-label class="locationContainer" [ngClass]="{'disableDiv':!scheduleTime}">
            <p class="location">@ {{selectedAddress}}</p> <a class="changeLocationLink" (click)="showAddressModal()">Change Location</a></ion-label>
        <button class="submit_button" ion-button [disabled]="!scheduleTime || !selectedService" (click)="placeOrder(2)">Order Now</button>
    </ion-list>

    <ion-label class="workeefyerTitle">Team Workeefyers:</ion-label>
    <ion-list class="workeefyerList" *ngIf="workeefyerList.length>0">
        <ion-icon *ngIf="workeefyerList.length>1" class="arrowBack" ios="ios-arrow-back" md="ios-arrow-back" (click)="prevWorkeefyer()"></ion-icon>
        <ion-slides>
            <ion-slide *ngFor="let workeefyerData of workeefyerList">
                <img class="workeefyerImg" src="{{workeefyerData.basicUserInfo ? webSvc.API_profilePic_URL+ workeefyerData.basicUserInfo.profilePic: './assets/images/noProfile.png'}}" onerror="this.src='./assets/images/noProfile.png'" />
                <ion-label class="workeefyerName">{{workeefyerData.basicUserInfo ? workeefyerData.basicUserInfo.firstName+' '+workeefyerData.basicUserInfo.lastName: 'test'}}</ion-label>
            </ion-slide>
        </ion-slides>
        <ion-icon *ngIf="workeefyerList.length>1" class="arrowForward" ios="ios-arrow-forward" md="ios-arrow-forward" (click)="nextWorkeefyer()"></ion-icon>
    </ion-list>
    <ion-label class="noWorkeefyer" *ngIf="workeefyerList.length==0">Currently No Workeefyer Available</ion-label>

</ion-content>