<ion-tabs [selectedIndex]="myIndex" name="myTabsNav">
    <ion-tab [root]="tab1Root" tabTitle="Order Service" tabIcon="home"></ion-tab>
    <ion-tab [root]="tab2Root" tabTitle="My Orders" tabIcon="contacts"></ion-tab>
</ion-tabs>