page-dashboard {
    .label {
        margin: 0 !important;
    }
    .arrowBack {
        position: absolute;
        font-size: 4.2rem;
        color: #968e8e;
        left: 11px;
        width: 35px;
        text-align: center;
        z-index: 5;
        top: 50%;
        transform: translate(0, -50%);
    }
    .arrowForward {
        position: absolute;
        font-size: 4.2rem;
        color: #968e8e;
        right: 11px;
        text-align: center;
        width: 35px;
        z-index: 5;
        top: 50%;
        transform: translate(0, -50%);
    }
    .servicesContainer {
        background-color: #f6124d;
        text-align: center;
        height: 85px;
        overflow-x: scroll;
        padding: 5px 0px;
        overflow-y: hidden;
    }
    .serviceSelectImgContainer {
        // height: 5rem;
        display: inline-block;
        padding: 9px 5px;
        width: auto;
        background: #f6124d;
        text-align: center;
    }
    .serviceSelectImgContainer img {
        height: 4rem;
        width: auto;
    }
    .serviceSelectImgContainer p {
        font-size: 1.1rem;
        color: #fff;
        margin-top: 3px;
    }
    // css for best offer starts
    .bestOfferList {
        padding: 0px 5px;
    }
    .bestOffer {
        padding-top: 7px;
    }
    .offerContainer {
        padding: 0px 4px;
        height: 50vw;
    }
    .offerItem {
        // height: 17rem;
        height: calc(100% - 61px);
        background-size: 100% 100%;
        // background-size: cover;
    }
    .priceDetailContainer {
        position: absolute;
        background: #fff;
        bottom: 0px;
        text-align: center;
        width: calc(100% - 8px);
        padding: 8px 0;
        border: 1px solid #ccc;
    }
    .price {
        color: #e66132;
        font-size: 2.2rem;
        letter-spacing: 2px;
    }
    .title {
        color: #000;
        letter-spacing: 1px;
        font-size: 1.4rem;
    }
    // css for best offer ends
    // css for workeefyer list start
    .workeefyerList {
        height: 50vw;
        position: relative;
        padding: 0 9px;
    }
    .workeefyerImg {
        height: 11rem;
        width: auto;
        border-radius: 100%;
        border: 1px solid #dc1044;
    }
    .workeefyerName {
        color: #000;
        text-transform: capitalize;
        letter-spacing: 1px;
        padding-top: 6px;
    }
    .workeefyerTitle,
    .bestOfferTitle {
        color: #000;
        letter-spacing: 1px;
        padding: 0 5px 7px;
        font-size: 1.5rem;
        font-weight: 500;
    }
    .workeefyerTitle {
        padding: 0 9px 7px;
    }
    @media screen and (max-width:320px) {
        .offerItem {
            height: calc(100% - 54px);
        }
        .price {
            font-size: 1.7rem;
        }
        .title {
            font-size: 1.2rem;
        }
        .workeefyerTitle,
        .bestOfferTitle {
            font-size: 1.4rem;
        }
        .workeefyerImg {
            height: 9rem;
        }
        .workeefyerName {
            font-size: 1.5rem;
        }
        .serviceSelectImgContainer img {
            height: 3.5rem;
        }
        .serviceSelectImgContainer p {
            font-size: 1rem;
        }
    }
}

.slides {
    // width: 80% !important;
}

.swiper-pagination {
    // display: block !important;
}

.swiper-pagination-bullet {
    width: 12px;
    height: 12px;
}

.swiper-pagination-bullet-active {
    background-color: #423e3e;
}

.workeefyerList .swiper-wrapper .swiper-slide {
    background-color: #f3f3f3 !important;
    color: #fff;
}