<ion-header>

    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
          </button>
        <ion-title>Dashboard</ion-title>
    </ion-navbar>

</ion-header>


<ion-content>
    <ion-list class="servicesContainer">
        <ion-item class="serviceSelectImgContainer" *ngFor="let service of activeServices" (click)="openSelectService(service.serviceName)">
            <img src='./assets/icon/{{service.serviceName}}.svg' onerror="this.src='./assets/images/noProfile.png'" />
            <p>{{service.displayName}}</p>
        </ion-item>
    </ion-list>
    <ion-list class="bestOfferList">
        <ion-label class="bestOfferTitle">Best Offers This Week</ion-label>
        <ion-item class="bestOfferContainer" *ngFor="let offer of bestOfferList">
            <ion-row class="bestOffer">
                <ion-col col-6 class="offerContainer">
                    <ion-item class="offerItem" [style.background-image]="'url(' + offer.image1 + ')'"></ion-item>
                    <div class="priceDetailContainer">
                        <p class="price">${{offer.price1}}/hr</p>
                        <p class="title">{{offer.title1}}</p>
                    </div>
                </ion-col>
                <ion-col col-6 class="offerContainer">
                    <ion-item class="offerItem" [style.background-image]="'url(' + offer.image2 + ')'"></ion-item>
                    <div class="priceDetailContainer">
                        <p class="price">${{offer.price2}}/hr</p>
                        <p class="title">{{offer.title2}}</p>
                    </div>
                </ion-col>
            </ion-row>
        </ion-item>
    </ion-list>
    <ion-label class="workeefyerTitle">Team Workeefyers</ion-label>
    <ion-list class="workeefyerList" *ngIf="workeefyerList.length>0">
        <ion-icon *ngIf="workeefyerList.length>1" class="arrowBack" ios="ios-arrow-back" md="ios-arrow-back" (click)="prevWorkeefyer()"></ion-icon>
        <ion-slides>
            <ion-slide *ngFor="let workeefyerData of workeefyerList">
                <img class="workeefyerImg" src="{{workeefyerData.basicUserInfo ? fbsvc.API_URL+ workeefyerData.basicUserInfo.profilePic: './assets/images/noProfile.png'}}" onerror="this.src='./assets/images/noProfile.png'" />
                <ion-label class="workeefyerName">{{workeefyerData.basicUserInfo ? workeefyerData.basicUserInfo.firstName+ ' '+workeefyerData.basicUserInfo.lastName: 'test'}}</ion-label>
            </ion-slide>
        </ion-slides>
        <ion-icon *ngIf="workeefyerList.length>1" class="arrowForward" ios="ios-arrow-forward" md="ios-arrow-forward" (click)="nextWorkeefyer()"></ion-icon>
    </ion-list>