page-my-order-screen {
    .label {
        // margin: 
    }
    .highlight {
        font-weight: 500;
        letter-spacing: 1px;
    }
    .orderList {
        color: #000;
        text-align: center;
    }
    .card_content {
        padding: 13px 5px 0px;
        border-top: 1px solid #ccc;
        text-align: center;
        display: none;
    }
    .logoContainer {
        margin: 0 !important;
    }
    .cardHeaderContainer {
        // text-align: center;
        display: flex;
    }
    .orderDetail {
        display: flex;
        align-self: center;
        width: 100%;
    }
    .arrowContainer {
        position: relative;
    }
    .arrowIcon {
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #000;
        font-size: 2.0rem;
    }
    .jobAcceptedBy {
        color: #000;
    }
    .person_name {
        font-size: 1.5rem;
        color: #000;
        letter-spacing: 1px;
        white-space: normal;
    }
    .serviceTime {
        padding-top: 0;
    }
    .serviceTime h2 {
        font-size: 1.1rem;
        color: #676262;
    }
    .iconContainer .label {
        margin: 0 !important;
    }
    .iconContainer .icon {
        font-size: 2.1rem;
        padding: 5px 10px;
        border: 1px solid #cac4c4;
        border-radius: 100%;
        width: 35px;
    }
    .callIcon .icon {
        background-color: #a2d39c;
        color: #000;
    }
    .pinIcon .icon {
        background-color: #fbae5c;
        color: #000;
    }
    .closeIcon .icon {
        background-color: #363636;
        color: #dc1045;
        font-weight: 900;
    }
    .closeIcon p {
        color: #dc1045;
    }
    .detailBtn {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .detailBtn a {
        text-decoration: none;
    }
    .segment_container {
        margin-top: 8px;
    }
    .displayBlock {
        display: block;
    }
    .displayFlex {
        display: flex;
        flex-direction: row;
    }
    @media screen and (max-width:"350px") {
        .jobAcceptedBy {
            font-size: 1.2rem;
        }
        .iconContainer .icon {
            font-size: 1.8rem;
            width: 32px;
        }
        .iconContainer p,
        .detailBtn a {
            font-size: 1.2rem;
        }
    }
}