<ion-header>

    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>my-order-screen</ion-title>
    </ion-navbar>

</ion-header>

<ion-content class="mainContainer">
    <ion-segment class="segment_container" [(ngModel)]="selectedOrderTitle">
        <ion-segment-button value="pending" (click)="getListData()">
            Pending
        </ion-segment-button>
        <ion-segment-button value="closed" (click)="getListData()">
            Closed
        </ion-segment-button>
    </ion-segment>
    <ion-list class="selectedOrderList">
        <ion-card *ngFor="let data of selectedOrderList;let i=index">
            <ion-item (click)="displayContent(i)">
                <ion-row class="">
                    <ion-col col-2 class="">
                        <ion-item class="logoContainer" item-start>
                            <img src="./assets/icon/{{data.serviceSelected}}.png">
                        </ion-item>
                    </ion-col>
                    <ion-col col-8 class="cardHeaderContainer">
                        <ion-row class="orderDetail">
                            <ion-col col-6 class="">
                                <h2 class="person_name ">{{data.serviceDisplayName}}</h2>
                            </ion-col>
                            <ion-col col-6 class="">
                                <h2 class="person_name ">
                                    {{data.workeefy?data.workeefy.basicUserInfo.firstName:'Not Assigned'}}
                                </h2>
                            </ion-col>
                            <ion-col col-12 class="serviceTime">
                                <h2 class="">{{data.serviceRequestTime | date:"MMM d,yyyy hh:mm a"}}</h2>
                            </ion-col>
                        </ion-row>
                    </ion-col>
                    <ion-col col-2 class="arrowContainer">
                        <ion-icon class="arrowIcon" ios="ios-arrow-up" md="ios-arrow-up"></ion-icon>
                        <!-- <ion-icon class="arrowIcon" ios="ios-arrow-down" md="ios-arrow-down"></ion-icon> -->
                    </ion-col>
                </ion-row>

            </ion-item>

            <ion-card-content class="card_content" [ngClass]="{ 'displayBlock':i==selectedIndex} ">
                <ion-row>
                    <ion-col col-6 class="padding_left_zero displayFlex">
                        <!-- <ion-label class="jobAcceptedBy">Job accepted by <span class="highlight">{{workeefyerName}}</span></ion-label> -->
                        <ion-label class="detailBtn"><a (click)="openDetailModal(i)">Details</a></ion-label>
                    </ion-col>
                    <ion-col col-6 class="iconContainer" [ngClass]="{'disableDiv':selectedOrderTitle=='closed'}">
                        <ion-row>
                            <ion-label class="callIcon" col-4 [ngClass]="{'disableDiv': selectedOrderList[i].status == 'Open'}">
                                <ion-icon ios="ios-call" md="md-call"></ion-icon>
                                <p>Call</p>
                            </ion-label>
                            <ion-label class="pinIcon disableDiv" col-4>
                                <ion-icon ios="ios-pin" md="md-pin"></ion-icon>
                                <p>Track</p>
                            </ion-label>
                            <ion-label class="closeIcon" col-4 (click)="cancelService(i)" [ngClass]="{'disableDiv': selectedOrderList[i].status != 'Open' &&  selectedOrderList[i].status != 'Confirmed'}">
                                <ion-icon ios="ios-close" md="md-close"></ion-icon>
                                <p>Cancel</p>
                            </ion-label>
                        </ion-row>
                    </ion-col>
                </ion-row>
            </ion-card-content>
        </ion-card>
    </ion-list>
    <ion-label class="titleIfNOService" *ngIf="orderList.length==0">
        No Notification
    </ion-label>
</ion-content>