page-add-new-card {
    .title {
        font-weight: 600;
        letter-spacing: 1px;
        color: #000;
        margin-top: 5px;
    }
    .paymentDiv {
        margin-bottom: 15px;
    }
    .form-error-messages {
        font-size: 10px;
    }
    .submit_button {
        width: 100%;
    }
}