<ion-header>

    <ion-navbar>
        <ion-title>add-new-card</ion-title>
        <ion-buttons end>
            <button ion-button (click)="closeModal()">
            <ion-icon name="close"></ion-icon>
        </button>
        </ion-buttons>
    </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-label class="title">Enter Card Details:</ion-label>
    <div #cardNumber class='paddingZero paymentDiv' [ngClass]="{'margin-bottom0':displayError}"></div>
    <span class="form-error-messages">
      <div id="cardNum-error" role="alert" *ngIf="displayError">{{displayError}}</div>
    </span>
</ion-content>
<ion-footer>
    <button ion-button class="submit_button" [disabled]="paymentFormInvalid" (click)="updateCard()">Add New Card</button>
</ion-footer>