<ion-header>

    <ion-navbar>
        <button ion-button menuToggle>
                    <ion-icon name="menu"></ion-icon>
                </button>
        <ion-title>my-profile</ion-title>
    </ion-navbar>

</ion-header>


<ion-content class="mainContainer">
    <ion-item class="profileImgContainer">
        <img class="profileImg" [src]="profilePic" onerror="this.src='./assets/images/noProfile.png'" />
        <button ion-button class="changeProfileBtn" (click)="launchFileUpload()"> Change Picture</button>
    </ion-item>
    <ion-list class="profileDetailContainer">
        <form [formGroup]="nameGroup">
            <ion-row class="nameContainer">
                <ion-col col-5>
                    <ion-input class="name" formControlName="firstName" type="text" placeholder="First Name" [readonly]="disableName" [ngClass]="{'margin-bottom0':nameGroup.controls.firstName.errors && (nameGroup.controls.firstName.dirty || nameGroup.controls.firstName.touched)}"></ion-input>
                    <span class="form-error-messages" *ngIf="nameGroup.controls.firstName.errors && (nameGroup.controls.firstName.dirty || nameGroup.controls.firstName.touched)">
                        <p *ngIf="nameGroup.controls.firstName.errors.required">*First Name is required</p>
                        <p *ngIf="nameGroup.controls.firstName.invalid && (nameGroup.controls.firstName.value!='')">*Name should not contain special characters or numbers</p>
                    </span>
                </ion-col>
                <ion-col col-5>
                    <ion-input class="name" formControlName="lastName" type="text" placeholder="Last Name" [readonly]="disableName" [ngClass]="{'margin-bottom0':nameGroup.controls.lastName.errors && (nameGroup.controls.lastName.dirty || nameGroup.controls.lastName.touched)}"></ion-input>
                    <span class="form-error-messages" *ngIf="nameGroup.controls.lastName.errors && (nameGroup.controls.lastName.dirty || nameGroup.controls.lastName.touched)">
                        <p *ngIf="nameGroup.controls.lastName.errors.required">*Last Name is required</p>
                        <p *ngIf="nameGroup.controls.lastName.invalid && (nameGroup.controls.lastName.value!='')">*Name should not contain special characters or numbers</p>
                    </span>
                </ion-col>
                <ion-col col-2 class="iconContainer">
                    <ion-icon col class="createIcon" ios="md-create" md="md-create" *ngIf="disableName" (click)="nameEditHandler()"></ion-icon>
                    <ion-icon col class="checkIcon" ios="ios-checkmark" md="ios-checkmark" *ngIf="!disableName" (click)="updateName()"></ion-icon>
                    <ion-icon col class="cancleIcon" ios="ios-close" md="ios-close" *ngIf="!disableName" (click)="nameEditHandler()"></ion-icon>
                </ion-col>
                <!-- <span class="form-error-messages" *ngIf="( nameGroup.controls.firstName.invalid && (nameGroup.controls.firstName.value!='')) ||(nameGroup.controls.lastName.invalid && (nameGroup.controls.lastName.value!=''))">
                    <p *ngIf="( nameGroup.controls.firstName.invalid && (nameGroup.controls.firstName.value!='')) ||(nameGroup.controls.lastName.invalid && (nameGroup.controls.lastName.value!=''))" style="margin:0">*Name should not contain special characters or numbers</p>
                </span> -->
            </ion-row>
        </form>
        <ion-row class="headingContainer">
            <ion-col col-10 class="padding0">
                <ion-label class="headingTitle"> Personal Details:</ion-label>
            </ion-col>
            <ion-col col-2 class="text_align_center headingIcon">
                <ion-icon col class="createIcon" ios="md-create" md="md-create" *ngIf="disablePhone" (click)="phoneEditHandler()"></ion-icon>
                <ion-icon col class="checkIcon" ios="ios-checkmark" md="ios-checkmark" *ngIf="!disablePhone" (click)="updatePhone()"></ion-icon>
                <ion-icon col class="cancleIcon" ios="ios-close" md="ios-close" *ngIf="!disablePhone" (click)="phoneEditHandler()"></ion-icon>
            </ion-col>
        </ion-row>
        <ion-list class="basicDetailContainer">
            <form [formGroup]="phoneGroup">
                <ion-label class="title">Phone No.</ion-label>
                <ion-input type="number" limit-input=10 formControlName="phone" placeholder="phone" [readonly]="disablePhone" [ngClass]="{'margin-bottom0':phoneGroup.controls.phone.errors && (phoneGroup.controls.phone.dirty || phoneGroup.controls.phone.touched)}"></ion-input>
                <span class="form-error-messages" *ngIf="phoneGroup.controls.phone.errors && (phoneGroup.controls.phone.dirty || phoneGroup.controls.phone.touched)">
                    <p *ngIf="phoneGroup.controls.phone.errors.required">*Phone no. is required</p>
                    <p *ngIf="!phoneGroup.controls.phone.errors.required && phoneGroup.controls.phone.invalid">*Enter phone number as 1112223333</p>
                </span>
            </form>
            <ion-label class="title">Email</ion-label>
            <ion-label class="title disable-input">{{email?email:'test@workeefy.com'}}</ion-label>
            <ion-row class="buttonConatainer">
                <ion-col col><button ion-button class="changePwdBtn" (click)="changePassword()">Change Password</button></ion-col>
                <!-- <ion-col col><button ion-button class="updateBtn">Update </button></ion-col> -->
            </ion-row>
        </ion-list>

        <ion-row class="headingContainer">
            <ion-col col-12 class="padding0">
                <ion-label class="headingTitle"> Address Details:</ion-label>
            </ion-col>
            <!-- <ion-col col-2 class="text_align_center headingIcon">
                <ion-icon col class="createIcon" ios="md-create" md="md-create"></ion-icon>
            <ion-icon col class="checkIcon" ios="ios-checkmark" md="ios-checkmark"></ion-icon>
                <ion-icon col class="cancleIcon" ios="ios-close" md="ios-close"></ion-icon>
            </ion-col> -->
        </ion-row>
        <ion-list>
            <ion-list class="addressContainer" radio-group>
                <ion-item class="radioForAddressContainer" *ngFor="let data of userAddress;let i=index">
                    <ion-label>{{data.address}}</ion-label>
                    <ion-radio value="{{data.address}}" checked="{{data.isDefault}}" (ionSelect)="openModal(false);selectNewAddress(i)"></ion-radio>
                </ion-item>
            </ion-list>
            <ion-item>
                <ion-label class="addNewAddressBtn" (click)="showAddressModal()">
                    <ion-icon ios="ios-add" md="md-add"></ion-icon>
                    Add New Address
                </ion-label>
            </ion-item>
        </ion-list>

        <ion-row class="headingContainer">
            <ion-col col-12 class="padding0">
                <ion-label class="headingTitle"> Card Details:</ion-label>
            </ion-col>
            <!-- <ion-col col-2 class="text_align_center headingIcon">
                <ion-icon col class="createIcon" ios="md-create" md="md-create"></ion-icon>
            <ion-icon col class="checkIcon" ios="ios-checkmark" md="ios-checkmark"></ion-icon>
                <ion-icon col class="cancleIcon" ios="ios-close" md="ios-close"></ion-icon>
            </ion-col> -->
        </ion-row>
        <ion-list>
            <ion-list class="cardContainer" radio-group>
                <ion-item class="radioForAddressContainer" *ngFor="let data of userCard;let i=index">
                    <ion-label>XXXX XXXX XXXX {{data.card4Digits}} <img src="./assets/images/{{data.cardType}}.svg" /></ion-label>
                    <ion-radio value="{{data.cardNumber}}" checked="{{data.isDefault}}" (ionSelect)="openModal(true);selectNewCard(i)"></ion-radio>
                </ion-item>
            </ion-list>
            <ion-item>
                <ion-label class="addNewAddressBtn" (click)="addNewCard()">
                    <ion-icon ios="ios-add" md="md-add"></ion-icon>
                    Add New Card
                </ion-label>
            </ion-item>
        </ion-list>
    </ion-list>

</ion-content>