page-my-profile {
    .profileImgContainer {
        padding: 10px;
        text-align: center;
    }
    .profileImg {
        height: 140px;
        width: 140px;
        border-radius: 100%;
        border: 1px solid #dc1044;
    }
    .changeProfileBtn {
        display: block;
        margin: 0 auto;
        text-transform: capitalize;
        margin-top: 5px;
        padding: 8px 20px !important;
        font-size: 1.4rem;
        height: auto !important;
        background-color: rgba(63, 68, 70, 0.88);
    }
    .changeProfileBtn.activated,
    .changeProfileBtn:hover {
        background-color: rgba(63, 68, 70, 1) !important;
    }
    .profileDetailContainer {
        padding: 0px 8px;
    }
    .nameContainer {}
    .name {
        margin-bottom: 22px;
        border-bottom: 1px solid #dc1044;
    }
    .iconContainer {
        text-align: center;
        display: flex;
        flex-direction: row;
    }
    .headingIcon {
        display: flex;
        flex-direction: row;
    }
    .iconContainer .icon,
    .headingIcon .icon {
        font-size: 2.7rem;
        font-weight: 600;
        align-self: center;
    }
    .checkIcon {
        color: green
    }
    .cancleIcon {
        color: #dc1044
    }
    .basicDetailContainer {
        padding: 5px 0px 0px 5px;
    }
    .basicDetailContainer .title {
        font-size: 1.5rem;
        color: #000;
    }
    .basicDetailContainer .input {
        border: 1px solid #ccc;
        margin: 10px 0 18px 0;
    }
    .disable-input {
        margin: 0 0 18px 0 !important;
    }
    .basicDetailContainer .input .text-input {
        margin: 6px 8px 6px 8px;
    }
    .buttonConatainer {
        text-align: center;
        margin-top: 35px;
    }
    .buttonConatainer .button {
        height: auto;
        padding: 10px 10px;
        width: 150px;
        margin: 0;
        font-size: 1.4rem;
        text-transform: capitalize;
    }
    .changePwdBtn {
        background-color: rgb(220, 16, 68);
    }
    .changePwdBtn.activated,
    .changePwdBtn:hover {
        background-color: rgb(204, 11, 59) !important;
    }
    .updateBtn {
        background-color: rgb(252, 175, 93);
    }
    .updateBtn.activated {
        background-color: rgb(233, 160, 82);
    }
    .headingContainer {
        border-bottom: 1px solid #ccc;
    }
    .headingContainer .col {
        padding: 2px 5px;
        margin-top: 8px;
    }
    .headingIcon .createIcon,
    .iconContainer .createIcon {
        font-size: 2.0rem;
        font-weight: 400;
        height: 37px;
    }
    .headingTitle {
        font-weight: 600;
        font-size: 1.6rem;
        letter-spacing: 1px;
        color: #000;
        margin: 8px 0px !important;
    }
    .radioForAddressContainer {
        // position: relative;
        display: flex;
        padding: 5px 0px;
        flex-direction: row-reverse;
    }
    .addressContainer .radioForAddressContainer {
        border-bottom: 1px solid #ccc;
    }
    .cardContainer .radioForAddressContainer {
        max-width: 330px;
    }
    .addressContainer,
    .cardContainer {
        padding: 8px 7px 0px;
    }
    .radioForAddressContainer .input-wrapper {
        // position: relative;
        /* right: 0; */
        /* top: 0; */
        /* width: 87%; */
        display: flex;
        padding: 0 15px;
    }
    .cardContainer .radioForAddressContainer .input-wrapper {
        justify-content: flex-end;
        // border: 1px solid #ccc;
        // padding: 10px 18px;
        // background-color: #eee;
        // border-radius: 4px;
    }
    .addressContainer .radioForAddressContainer .input-wrapper .label {
        white-space: normal;
    }
    .cardContainer .radioForAddressContainer .input-wrapper .label {
        border: 1px solid #ccc;
        padding: 17px 19px;
        background-color: #eee;
        border-radius: 4px;
        white-space: normal;
        max-width: 260px;
        display: flex;
        align-items: center;
    }
    .cardContainer .radioForAddressContainer .input-wrapper .label img {
        height: 25px;
        width: auto;
        margin-left: 10px;
    }
    .radioForAddressContainer .radio {
        height: 100%;
        display: flex;
        align-items: center;
    }
    .addNewAddressBtn {
        max-width: 190px;
        border: 2px #ccc dotted !important;
        padding: 12px;
        border-radius: 5px;
        margin: 0 auto !important;
        color: #000;
        font-size: 1.6rem;
    }
    .addNewAddressBtn .icon {
        color: green;
        padding: 3px 5px;
        border: 0.5px solid;
        border-radius: 100%;
        font-weight: 600;
        font-size: 1.4rem;
        margin-right: 5px;
    }
    .addNewAddressBtn .icon-ios {
        padding: 4px 7px;
    }
    @media screen and (max-width:320px) {
        .profileImg {
            height: 110px;
            width: 110px;
        }
        .iconContainer .icon,
        .headingIcon .icon {
            font-size: 2.2rem;
        }
        .cardContainer .radioForAddressContainer .input-wrapper .label {
            font-size: 1.2rem;
            padding: 17px 6px;
        }
        .cardContainer .radioForAddressContainer .input-wrapper .label img {
            height: 20px;
        }
        .buttonConatainer .button {
            font-size: 1.2rem;
            width: 140px;
            padding: 8px 10px;
        }
    }
}