page-change-password {
    .title {
        font-weight: 600;
        letter-spacing: 1px;
        color: #000;
        margin-top: 5px;
    }
    .passwordInput {
        border: 1px solid #dc1044;
        border-radius: 4px;
        margin-bottom: 13px;
    }
    .form-error-messages {
        font-size: 10px;
    }
    .submit_button {
        width: 100%; // margin-top: 15px;
    }
}