<ion-header>

    <ion-navbar>
        <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
      </button>
        <ion-title>change-password</ion-title>
        <ion-buttons end>
            <button ion-button (click)="closeModal()">
                    <ion-icon name="close"></ion-icon>
                </button>
        </ion-buttons>
    </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-list>
        <form [formGroup]="changePasswordForm">
            <ion-label class="title">Enter New Password:</ion-label>
            <ion-input class="passwordInput" type="password" placeholder="New Password" formControlName="newPassword" [ngClass]="{'margin-bottom0':changePasswordForm.controls.newPassword.errors && (changePasswordForm.controls.newPassword.dirty || changePasswordForm.controls.newPassword.touched)}"></ion-input>
            <span class="form-error-messages" *ngIf="changePasswordForm.controls.newPassword.errors && (changePasswordForm.controls.newPassword.dirty || changePasswordForm.controls.newPassword.touched)">
                    <p *ngIf="changePasswordForm.controls.newPassword.errors.required">*Phone no. is required</p>
                    <p *ngIf="!changePasswordForm.controls.newPassword.errors.required && changePasswordForm.controls.newPassword.invalid">*Password must be of 8 charecters</p>
                </span>

        </form>
    </ion-list>
</ion-content>
<ion-footer>
    <button class="submit_button" ion-button [disabled]="!changePasswordForm.valid" (click)="updatePassword()">Change Password</button>
</ion-footer>