.user-avatar {
    padding: .5em;
    height: 12vh;
    width: 12vh;
}

.round {
    border-radius: 50%;
}

.menu-header {
    padding: 5px 15px;
    background-color: #222;
    background-size: cover;
    color: #fff;
}

.leftName {
    font-size: 1.0rem;
    text-align: right;
    margin-top: 12px;
}

.logoHeader {
    text-align: center;
}

.slideMenu {
    color: #dc1044 !important;
}

.card-ios {
    width: calc(100% - 20px);
}

.padding5 {
    padding: 5px;
}

.slideMenuToggle {
    transform: scale(0.75);
}

.colorBlack {
    color: black !important;
}

.status {
    padding-top: 10px;
    font-size: 2rem;
}

.fabColor,
.fabColor.activated {
    background-color: #dc1044;
}

.fabColor:hover {
    animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}

.toggle-md.toggle-checked .toggle-icon,
.toggle-ios.toggle-checked .toggle-icon {
    background-color: #dc1044;
    // border: 1px solid #ccc;
    // border-radius: 5px;
}

.toggle-md.toggle-checked .toggle-inner,
.toggle-ios.toggle-checked .toggle-inner {
    background-color: #fff;
}

.toggle-md.toggle-checked .toggle-inner {
    background-color: #fff;
}

.toggle-md .toggle-inner,
.toggle-ios .toggle-inner {
    background-color: #dc1044;
}

body {
    user-select: none !important;
}

input:-webkit-autofill {
    background-color: transparent !important;
    -webkit-box-shadow: none !important;
}

.input-md .input-has-focus {
    background-color: red;
}

.action-sheet-ios .action-sheet-button,
.action-sheet-md .action-sheet-button {
    color: #dc1044 !important;
}

input:focus,
button:focus {
    outline: none !important;
}

p,
h1,
h2,
h3,
h4 {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

.scroll-content {
    // padding-bottom: 0 !important;
}

.list {
    margin: 0px 0 10px;
}

.label-ios,
.label-md {
    margin: 6px 0 6px 0 !important;
}

.item {
    padding: 0;
}

.item-input {
    color: #000 !important;
    border-bottom: 1px solid #fff !important;
    background: transparent !important;
    // position: sticky;
}

.list>.item-block:first-child {
    border-top: 0px;
}

.list>.item-block:last-child,
.list>.item-wrapper:last-child .item-block {
    border-bottom: 0px;
}

.list .item-block .item-inner {
    border-bottom: 0px;
}

.list-md .item-input-has-focus {
    border-bottom: 0px !important;
}

.bar-button-default-ios,
.bar-button-default.bar-button-ios-default,
.bar-button-clear-ios-default {
    color: #dc1044;
}

.paddingLeftZero {
    padding-left: 0 !important;
}

.paddingRightZero {
    padding-right: 0 !important;
}

.grid {
    padding: 0 !important;
}

.list-md .item-input.ng-invalid.ng-touched:not(.input-has-focus):not(.item-input-has-focus):last-child,
.item-md.item-input.ng-invalid.ng-touched:not(.input-has-focus):not(.item-input-has-focus) .item-inner {
    box-shadow: none !important;
}

.ion-backdrop {
    opacity: 0.6 !important;
}

.item-md.item-input.item-input-has-focus .item-inner,
.item-md.item-input.input-has-focus .item-inner,
.item-md.item-input.input-has-focus:last-child {
    border-bottom-color: #dc1044;
    border-bottom: 1px solid #dc1044;
    // box-shadow: 0px -1px 0px 0px #dc1044 inset;
    box-shadow: none !important;
}

.segment-button {
    height: 100% !important;
    color: #dc1044 !important;
    border: 0 !important;
    border-bottom: 1px solid #dc1044 !important;
    font-family: sans-serif !important;
    font-size: 1.6rem !important;
    line-height: 4rem !important;
}

.segment-activated {
    background-color: #dc1044 !important;
    color: #fff !important;
    border-bottom: 1px solid #fff !important;
}

.segment {
    // border-bottom: 1px solid #dc1044;
}

.segment-button {
    border-top-left-radius: 4px !important;
    border-top-right-radius: 4px !important;
    border-bottom-right-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
}

.schedule_segment_container .segment-button {
    border: 1px solid #919191 !important;
    color: #fff !important;
    background-color: #37414a;
    opacity: 1;
    // border: 1px solid #dc1044 !important;
}

.schedule_segment_container .segment-button:nth-child(1) {
    border-top-left-radius: 5px !important;
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
    border-bottom-left-radius: 5px !important;
}

.schedule_segment_container .segment-button:nth-child(2) {
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
}

.schedule_segment_container .segment-button:nth-child(3) {
    border-top-left-radius: 0px !important;
    border-top-right-radius: 5px !important;
    border-bottom-right-radius: 5px !important;
    border-bottom-left-radius: 0px !important;
}

.segment_container .segment-activated {
    // border-left-color: #fff !important;
    // border-right-color: #fff !important;
}

.list-md .item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus):last-child,
.list-md .item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus):last-child,
.item-md.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner,
.item-md.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner {
    border-bottom-color: transparent !important;
    box-shadow: 0px -1px 0px 0px transparent inset !important;
}

.tabs-md .tab-button {
    min-height: 5.4rem !important;
}

.badge-ios,
.badge-md {
    color: #dc1044;
    background-color: #fff;
}

.headerForModal {
    text-align: center!important;
}

.toolbar-background-ios {
    background-color: #fff;
}

.list-md .item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus):last-child,
.list-md .item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus):last-child {
    border-bottom: 1px solid #dc1044 !important;
}

page-confirmation-component .content_container .item {
    font-size: 1.4rem;
}

.alert-wrapper {
    border-radius: 4px !important;
    background-color: #fff;
    // max-width: calc(100% - 20%) !important;
}

.custom_basic_alert {
    width: 100% !important;
}

.margin0 {
    margin: 0 !important;
}

.detail_container {
    padding-top: 15px;
}

.profile_image {
    height: 36px;
    width: auto;
}

.alert-md .alert-head {
    text-align: center;
}

.item-block {
    min-height: 2.4rem !important;
}

.profile_image_container {
    display: inline-block;
    border-radius: 100%;
    border: 2px solid #dc1044;
    width: 17%;
}

.text_align_right {
    text-align: right;
}

.text_align_center {
    text-align: center;
}

.justify_center {
    justify-content: center;
}

.color_default {
    color: #dc1044 !important;
}

.detail {
    display: inline-block;
    vertical-align: top;
    padding: 0% 0 0 4%;
    font-size: 1.3rem;
    width: calc(100% - 17%);
}

.detail div:last-child {
    color: #dc1044 !important;
    margin-top: 5px;
}

.confirmation_message {
    font-size: 1.2rem;
}

.alert-message {
    text-align: left !important;
    background-color: #fff;
    color: #000 !important // padding: 0 !important;
}

.alert-ios .alert-message,
.alert-md .alert-message {
    padding: 7% 10% 20% 10%;
    background-color: #fff;
}

.alert-ios .alert-message:empty,
.alert-md .alert-message:empty {
    padding: 0 !important;
    border: 0 !important;
}

.alert-md .alert-button .button-inner {
    justify-content: center;
}

.alert-wrapper .alert-title,
.alert-wrapper .alert-button {
    color: #dc1044;
}

.alert-wrapper .alert-button {
    font-size: 1.3rem;
    color: #fff;
    background-color: #616262;
}

.alert-wrapper .alert-title {
    font-weight: 400;
    font-size: 1.4rem;
    margin-top: 0;
}

.alert-wrapper .alert-head {
    padding: 10px;
    background-color: #fff;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.alert-wrapper .alert-button:last-child {
    font-weight: 400;
    background-color: #dc1044;
}

.alert-radio-group {
    background-color: #fff;
}

.alert-wrapper .alert-button-group {
    display: block;
    padding: 0;
}

.alert-wrapper .alert-button {
    width: 30%;
    min-width: 30%;
    height: 38px;
    display: inline-block;
    margin: 0;
    border: 0;
    border-radius: 0;
}

.alert-wrapper .alert-button:last-child {
    width: 70%;
    height: 38px;
}

.alert-wrapper .alert-button:last-child .button-inner {
    justify-content: center;
}

.alert-ios [aria-checked=true] .alert-radio-label,
.alert-ios [aria-checked=true] .alert-radio-inner,
.alert-md [aria-checked=true] .alert-radio-label,
.alert-md [aria-checked=true] .alert-radio-icon {
    color: #dc1044;
    border-color: #dc1044;
}

.alert-md [aria-checked=true] .alert-radio-inner,
.alert-md .alert-radio-inner {
    background-color: #dc1044;
}

// .alert_cancel_button {
//     font-size: 2.3rem !important;
//     color: green !important;
// }
.submit_botton_container {
    text-align: center;
    padding: 5px 0px;
}

.submit_button {
    background-color: #dc1044;
    color: #fff;
    padding: 14px 38px;
}

.item-input-has-focus .label,
.item-input-has-focus .label-md,
.input-has-value .label,
.input-has-value .label-md {
    color: #dc1044 !important;
}

.content_container {
    border-bottom: 0px !important;
    padding: 0px 5% 0 5% !important;
}

.content_container {
    border-bottom: 0px !important;
    padding: 4% !important;
}

.custom-alert .alert-wrapper .alert-head {
    border-bottom: 1px solid #ccc;
}

.has-header-ios {
    top: 44px;
}

.has-header-android {
    top: 55px;
}

.label {
    color: #c5c5c5;
}

.label-ios {
    margin: 6px 9px 6px 0;
}

.label-md {
    margin: 10px 8px 10px 0;
}

.confirmation_message_job_done span {
    display: inline-block !important;
}

.confirmation_message_job_done span:nth-child(2) {
    color: #dc1044;
}

.confirmation_message_job_done span:last-child {
    padding-left: 2px;
}

//@import "./node_modules/ng2-file-input/ng2-file-input.scss";
.item.item-block .item-inner {
    padding: 0;
    border-bottom: 0;
}

.compulsory_field_label {
    color: red !important;
    font-size: 1.2rem !important;
    margin: 1px 0px 2px 0px !important;
}

.input_field_container .item {
    margin-bottom: 17px;
}

.content-ios {
    opacity: 1 !important;
}

.datepicker-wrapper {
    height: 100%;
    padding: 2rem 0px;
    position: absolute;
    background-color: transparent !important;
    width: 80%;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
    max-height: 525px;
}

.datepicker-calendar {
    background: #fff;
    height: calc(100% - (35% + 45px)) !important;
}

.datepicker-rows {
    height: calc(100% - (35% + 50px)) !important;
    background-color: #fff;
}

.datepicker-footer {
    height: 45px !important;
    background-color: #fff;
}

.datepicker-footer button:nth-child(2) {
    // display: none;
}

.datepicker-wrapper .datepicker-header .date-header .datepicker-day-of-month {
    font-size: 40px !important;
}

.datepicker-wrapper .button-md,
.datepicker-wrapper .button-ios {
    background-color: #b90e3b;
    margin: 0 0.2rem;
    height: 44px;
}

.datepicker-wrapper .datepicker-header,
.datepicker-wrapper .datepicker-header .weekday-header,
.datepicker-calendar .calendar-wrapper .datepicker-temp,
.datepicker-rows .row.active,
{
    background-color: #b90e3b !important;
    color: #fff !important;
}

.datepicker-rows .row.selected,
.datepicker-calendar .calendar-wrapper .datepicker-selected {
    background-color: #e6567c !important;
    color: #fff !important;
}

.show-page {
    background: rgba(58, 56, 56, 0.58) !important;
}

.button-md.activated,
.button-ios.activated {
    background-color: #b90e3b;
    color: #fff;
}

@media (min-width: 767px) {
    .show-page {
        background: none!important;
    }
}

.disableDiv {
    pointer-events: none;
    opacity: 0.5;
}

.form-error-messages {
    color: red;
    display: block;
    font-size: 9px;
    margin-top: 2px !important;
}

.margin-bottom0 {
    margin-bottom: 0px !important;
}

// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.