page-order-detail {
    .servicesContainer {
        background-color: #f6124d;
        text-align: center;
        height: 150px;
        overflow-x: scroll;
        padding: 5px 0px;
        overflow-y: hidden;
    }
    .serviceSelectImgContainer {
        // height: 5rem;
        display: inline-block;
        padding: 3px 5px;
        width: auto;
        background: #f6124d;
        text-align: center;
    }
    .serviceSelectImgContainer img {
        height: 4.9rem;
        width: auto;
    }
    .serviceSelectImgContainer .serviceName {
        font-size: 1.5rem;
        color: #fff;
        margin-top: 3px;
        letter-spacing: 1px;
        font-weight: 600;
    }
    .serviceSelectImgContainer .serviceTime {
        font-size: 1.2rem;
        color: #fff;
        margin-top: 3px;
    }
    .invoiceContainer {
        padding: 0px 20px;
    }
    .invoice {
        border: 1px solid #ccc !important;
        border-top: 0px;
    }
    .invoice .col {
        color: #585757;
    }
    .titleInvoice {
        text-align: center;
        font-size: 1.5rem;
        background-color: #959595;
        color: #000;
        padding: 5px;
        margin: 0 !important;
    }
    .iconContainer {
        text-align: center;
        padding: 0 35px;
    }
    .iconContainer .label {
        margin: 0 !important;
    }
    .iconContainer .icon {
        font-size: 2.1rem;
        padding: 5px 10px;
        border: 1px solid #cac4c4;
        border-radius: 100%;
        width: 35px;
    }
    .callIcon .icon {
        background-color: #a2d39c;
        color: #000;
    }
    .pinIcon .icon {
        background-color: #fbae5c;
        color: #000;
    }
    .closeIcon .icon {
        background-color: #363636;
        color: #dc1045;
        font-weight: 900;
    }
    .closeIcon p {
        color: #dc1045;
    }
    .otpMainContainer {
        // display: flex;
        // flex-direction: row;
        text-align: center;
    }
    .otpContainer {
        text-align: center;
        background-color: #c6c6c6;
        // display: inline-block;
        color: #fff;
        padding: 12px;
        font-size: 2.0rem;
        letter-spacing: 1.2rem;
    }
    .resendOtpBtn {
        // float: right;
    }
    .otpMainContainer .submit_button {
        padding: 0px 21px;
        margin-left: 0px;
        height: 4.1rem;
        margin: 0;
        display: flex;
        align-self: center;
        border-radius: 0;
        text-transform: capitalize;
    }
    .rateCardContainer {
        text-align: center;
        margin-top: 20px;
        background-color: #545151;
        border: 1px solid #ccc;
        padding: 7px;
    }
    .rateCardTitle {
        color: #c5bfbf !important;
        letter-spacing: 1px;
        font-weight: 500;
        margin-top: 0 !important;
        font-size: 1.6rem;
    }
    .rateTitle,
    .rateDetail {
        color: #c5bfbf !important;
    }
    .timerContainer {
        padding: 20px 20px 10px;
        text-align: center;
        background-color: #252525;
    }
    .timerTitle {
        color: #000;
        font-size: 1.9rem;
        font-weight: 600;
        letter-spacing: 2px;
        margin-top: 15px !important;
        padding: 11px;
        text-align: center;
        background-color: #ccc;
    }
    .timerContainer .row {
        margin: 6px 0px;
    }
    .timeValueContainer {
        background-color: #dc1044;
        font-size: 2rem;
        color: #fff;
        padding: 10px;
    }
    .timerName {
        color: #fff;
    }
    // css for workeefyer list start
    .workeefyerDetailContainer {
        padding: 0 12px;
        margin-top: 15px !important;
    }
    .workeefyerList {
        height: 45vw;
        max-height: 170px;
        text-align: center;
        position: relative;
        padding: 14px 9px;
        background-color: #f3f3f3 !important;
        border-radius: 4px;
        border: 1px solid #ececec;
    }
    .workeefyerImg {
        height: 11rem;
        width: auto;
        border-radius: 100%;
        border: 1px solid #dc1044;
    }
    .workeefyerName {
        color: #000;
        text-transform: capitalize;
        letter-spacing: 1px;
        padding-top: 6px;
    }
    .workeefyerTitle {
        color: #000;
        letter-spacing: 1px;
        font-size: 1.5rem;
        font-weight: 500;
    }
    // css for workeefyer list ends
    @media screen and (max-width:320px) {
        .workeefyerTitle {
            font-size: 1.3rem;
        }
        .workeefyerImg {
            height: 9rem;
        }
        .workeefyerName {
            font-size: 1.5rem;
        }
        .workeefyerList {
            padding: 12px 9px;
        }
        .servicesContainer {
            height: 120px;
        }
        .serviceSelectImgContainer img {
            height: 3.5rem;
        }
        .serviceSelectImgContainer .serviceName {
            font-size: 1.2rem;
        }
        .serviceSelectImgContainer .serviceTime {
            font-size: 1rem;
        }
        .iconContainer .icon {
            font-size: 1.8rem;
            width: 32px;
        }
        .iconContainer p {
            font-size: 1.2rem;
        }
        .otpContainer {
            padding: 8px;
            // max-width: 170px;
        }
        .otpMainContainer .submit_button {
            height: 3.3rem;
        }
    }
}