<ion-header>

    <ion-navbar>
        <ion-title>Order Detail</ion-title>
    </ion-navbar>

</ion-header>
<ion-content class="mainContainer" *ngIf="serviceDetailToShow">
    <ion-list class="servicesContainer">
        <ion-item class="serviceSelectImgContainer">
            <img [src]="serviceDetailToShow.serviceDisplayName ? serviceIcon : './assets/icon/LawnMow.svg'" onerror="this.src='./assets/icon/LawnMow.svg'" />
            <p class="serviceName">{{serviceDetailToShow.serviceDisplayName}}</p>
            <p class="serviceTime">{{serviceDetailToShow.serviceStartTime | date: 'dd MMM yyyy h:mm a'}}</p>
            <p class="serviceTime">@</p>
            <p class="serviceTime">{{serviceDetailToShow.serviceAddress}}</p>
        </ion-item>
    </ion-list>
    <ion-list class="invoiceContainer" *ngIf="serviceDetailToShow.status == 'Completed'">
        <ion-label class="titleInvoice">Invoice</ion-label>
        <ion-row class="invoice">
            <ion-row col-12>
                <ion-col>Total Hours:</ion-col>
                <ion-col>{{serviceDetailToShow.totalHours}}/hrs</ion-col>
            </ion-row>
            <ion-row col-12>
                <ion-col>Amount Charged:</ion-col>
                <ion-col>$ {{serviceDetailToShow.totalAmountPaid}}</ion-col>
            </ion-row>
        </ion-row>

    </ion-list>
    <ion-list class="workeefyerDetailContainer">
        <ion-label class="workeefyerTitle">Workeefyer Details:</ion-label>
        <ion-list class="workeefyerList">
            <img class="workeefyerImg" [src]="serviceDetailToShow.profilePic" onerror="this.src='./assets/images/noProfile.png'" />
            <ion-label class="workeefyerName">{{serviceDetailToShow.workeefyerName}}</ion-label>
        </ion-list>
        <ion-row class="iconContainer" *ngIf="(serviceDetailToShow.status !='Complete') && (serviceDetailToShow.status !='Cancelled')">
            <ion-label class="callIcon" col-4 [ngClass]="{'disableDiv':serviceDetailToShow.status =='Open'}">
                <ion-icon ios="ios-call" md="md-call"></ion-icon>
                <p>Call</p>
            </ion-label>
            <ion-label class="pinIcon disableDiv" col-4>
                <ion-icon ios="ios-pin" md="md-pin"></ion-icon>
                <p>Track</p>
            </ion-label>
            <ion-label class="closeIcon" col-4 [ngClass]="{'disableDiv':serviceDetailToShow.status=='InProgress' || serviceDetailToShow.status=='PaymentPending'|| serviceDetailToShow.status=='ConfirmOTP'}">
                <ion-icon ios="ios-close" md="md-close"></ion-icon>
                <p>Cancel</p>
            </ion-label>
        </ion-row>

        <ion-label class="workeefyerTitle" *ngIf="serviceDetailToShow.status =='ConfirmOtp'">Your OTP: </ion-label>
        <ion-list class="otpMainContainer" *ngIf="serviceDetailToShow.status =='ConfirmOtp'">
            <ion-label class="otpContainer">{{serviceDetailToShow.otp ? serviceDetailToShow.otp:121234}}</ion-label>
            <!-- <button ion-button class="submit_button"> resend otp</button> -->
            <!-- <a class="resendOtpBtn" href="">Resend Otp</a> -->
        </ion-list>
        <ion-label class="timerTitle" *ngIf="(serviceDetailToShow.status !='Complete') && (serviceDetailToShow.status !='Cancelled')" [ngClass]="{'disableDiv':serviceDetailToShow.status =='Open'}">Timer</ion-label>
        <ion-list class="timerContainer" *ngIf="(serviceDetailToShow.status !='Complete') && (serviceDetailToShow.status !='Cancelled')" [ngClass]="{'disableDiv':serviceDetailToShow.status =='Open'}">
            <ion-row>
                <ion-col>
                    <ion-col class="timeValueContainer">0</ion-col>
                    <ion-col class="timeValueContainer">0</ion-col>
                </ion-col>
                <ion-col>
                    <ion-col class="timeValueContainer">0</ion-col>
                    <ion-col class="timeValueContainer">0</ion-col>
                </ion-col>
                <ion-col>
                    <ion-col class="timeValueContainer">0</ion-col>
                    <ion-col class="timeValueContainer">0</ion-col>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col class="timerName">Hours</ion-col>
                <ion-col class="timerName">Mins</ion-col>
                <ion-col class="timerName">Sec</ion-col>
            </ion-row>
            <ion-label class="timerName"> Work is in Progress</ion-label>
        </ion-list>
        <ion-list class="rateCardContainer" *ngIf="activeService && ((serviceDetailToShow.status !='Complete') && (serviceDetailToShow.status !='Cancelled'))">
            <ion-label class="rateCardTitle"> Rate Card</ion-label>
            <ion-row *ngIf="activeService.serviceCostType=='hour'">
                <ion-col class="rateTitle">1st Hour</ion-col>
                <ion-col class="rateDetail">${{activeService.servicePerHour}}</ion-col>
            </ion-row>
            <ion-row *ngIf="activeService.serviceCostType=='hour'">
                <ion-col class="rateTitle">Ever Additional Hour</ion-col>
                <ion-col class="rateDetail">${{activeService.serviceFirstHourCharge}}</ion-col>
            </ion-row>
            <ion-row *ngIf="activeService.serviceCostType=='fixed'">
                <ion-col class="rateTitle">Service Charges</ion-col>
                <ion-col class="rateDetail">${{activeService.serviceFixedCharge}}</ion-col>
            </ion-row>
        </ion-list>
    </ion-list>
</ion-content>