page-change-address-modal {
    .mainContainer,
    .fixed-content,
    .scroll-content {
        padding: 10px 20px;
    }
    .title {
        color: #dc1044;
    }
    .radioForAddressContainer {
        // position: relative;
        display: flex;
        padding: 5px 0px;
        border-bottom: 1px solid #ccc;
        flex-direction: row-reverse;
    }
    .addressContainer>.radioForAddressContainer:last-child {
        // border-bottom: 1px solid #ccc !important;
    }
    .radioForAddressContainer .input-wrapper {
        // position: relative;
        /* right: 0; */
        /* top: 0; */
        /* width: 87%; */
        display: flex;
        padding: 0 15px;
    }
    .radioForAddressContainer .input-wrapper .label {
        white-space: normal;
    }
    .radioForAddressContainer .radio {
        height: 100%;
        display: flex;
        align-items: center;
    }
    .addNewAddressBtn {
        max-width: 190px;
        border: 2px #ccc dotted !important;
        padding: 12px;
        border-radius: 5px;
        margin: 0 auto !important;
        color: #000;
        font-size: 1.6rem;
    }
    .addNewAddressBtn .icon {
        color: green;
        padding: 3px 5px;
        border: 0.5px solid;
        border-radius: 100%;
        font-weight: 600;
        font-size: 1.4rem;
        margin-right: 5px;
    }
    .addNewAddressBtn .icon-ios {
        padding: 4px 7px;
    }
}