<ion-header>

    <ion-navbar>
        <ion-title>change-address-modal</ion-title>
        <ion-buttons end>
            <button ion-button (click)="closeModal()">
                <ion-icon name="close"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>

</ion-header>


<ion-content class="mainContainer">
    <ion-list>
        <ion-label class="title">Select Address:</ion-label>
        <ion-list class="addressContainer" radio-group>
            <ion-item class="radioForAddressContainer" *ngFor="let data of userAddress;let i=index">
                <ion-label>{{data.address}}</ion-label>
                <ion-radio value="{{data.address}}" checked="{{data.address == selectedAddress}}" (ionSelect)="openModal();selectNewAddress(i)"></ion-radio>
            </ion-item>
        </ion-list>
        <!-- <ion-item>
            <ion-label class="addNewAddressBtn" (click)="addAddress()">
                <ion-icon ios="ios-add" md="md-add"></ion-icon>
                Add New Address
            </ion-label>
        </ion-item> -->
    </ion-list>
</ion-content>