page-login-signup {
    .backgroundClass {
        background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#d4d4d4), to(#aaaaaa))
    }
    .item-inner {
        background: transparent !important;
    }
    .accordian {
        background-color: #585254;
        border-radius: 4px;
        margin: 0px 0 4px 0;
        max-height: 33px;
    }
    .submit_button {
        // background: #363636 !important;
    }
    .scroll-content {
        padding-top: 5px !important;
        // margin-bottom: 55px;
    }
    .address_wrapper {
        position: relative;
    }
    .ion-item-sibling {
        height: 45px;
        position: absolute;
        bottom: 0;
        width: 100%;
        left: 0;
    }
    .item {
        padding-right: 1px !important;
    }
    .header-ios .toolbar-background-ios,
    .footer-ios .toolbar-background-ios {
        border-style: none;
        border-color: #FFF;
    }
    .basicDetailList {
        margin: 0 !important;
    }
    .files_upload_item {
        min-height: 66px !important;
        border-bottom: 1px solid #dc1044 !important;
    }
    .colorBlack {
        color: black !important;
    }
    .checkboxItem {
        display: -webkit-inline-box;
        width: auto;
        background: transparent;
        margin: 0px 1px !important;
    }
    .checkboxItem .item-cover {
        padding: 0 !important;
    }
    .item.item-md .checkbox-md,
    .item.item-ios .checkbox-ios {
        margin: 0 !important;
    }
    .titleCheckBox {
        margin-left: 4px !important;
        word-wrap: break-word;
        white-space: normal;
    }
    .checkBoxLabel {
        font-style: italic;
        font-size: 1.5rem !important;
        padding: 13px 0 8px 0;
    }
    .availability_checkBox_container .item-ios,
    .availability_checkBox_container .item-md {
        display: inline-flex;
        background: transparent;
        width: auto;
    }
    .accordianTitle {
        font-size: 1.3rem !important;
        font-weight: 600;
        color: #fff !important;
        display: flex;
        align-items: center;
    }
    .accordian .icon {
        align-self: center;
        font-size: 2.0rem;
        color: #fff;
    }
    .label {
        color: #000;
        font-size: 1.5rem;
    }
    .workeefy_logo_header {
        height: 28px;
        width: auto;
        margin: auto;
        display: block;
    }
    .workeefy_header {
        transition: all 0.5s;
        -webkit-transition: all 0.5;
        //height: 0px !important;
        top: 0px;
        overflow: hidden;
    }
    .upload_button {
        position: absolute;
        top: 32%;
        right: 5%;
    }
    .input_Type_file {
        opacity: 0 !important;
    }
    .item-input-has-focus .label,
    .item-input-has-focus .label-md,
    .input-has-value .label,
    .input-has-value .label-md {
        color: #000 !important;
    }
    .logo_container {
        height: 120px;
        transition: all 0.5s;
        -webkit-transition: all 0.5;
    }
    .hide_logo_title {
        height: 0px !important;
        overflow: hidden;
    }
    .input_field_container {
        transition: all 0.5s;
        -webkit-transition: all 0.5;
        padding-top: 5px;
    }
    .input_field_container_signup_active {
        overflow: auto;
        padding-top: 5px;
    }
    .title_name {
        color: #fdfcfa;
        font-size: 1.7rem;
        font-weight: 900;
        text-align: center;
        margin-top: 3px;
    }
    .signup_form_div {
        padding-bottom: 35px;
    }
    .workeefy_logo {
        height: 85px;
        width: auto;
        transition: all 0.5s;
        -webkit-transition: all 0.5;
        margin: auto;
        display: block;
    }
    .submit_button_container {
        padding: 20px;
    }
    .padding0 {
        padding: 0 !important;
    }
    .logo_with_title {
        height: 28px !important;
        width: auto;
    }
    .logo_title_container {
        padding: 15px 0;
    }
    .button_container {
        height: 12%;
        border-bottom: 1px solid #dc1044 !important;
    }
    .button_container span {
        border-radius: 4px;
    }
    .signup_message_container {
        margin-top: 8px;
    }
    .signup_message_container {
        text-align: center;
        font-size: 1.2rem;
    }
    .signup_message_container button {
        background: none;
        color: #dc1044;
        padding: 0px;
    }
    .reference_icon_container {
        text-align: center !important;
        font-size: 2.5rem;
        color: #dc1044;
    }
    .reference_icon_container a {
        text-decoration: none;
    }
    .reference_icon_container :link,
    ion-icon {
        color: #fff;
    }
    .facebook_logo,
    .google_plus_logo {
        height: 27px;
        width: auto;
    }
    .link_to_signup,
    .link_to_forget_password {
        color: #000;
        // text-decoration: underline;
    }
    .or_container {
        border-bottom: 1px solid silver;
        line-height: .1em;
        margin: 12px 0 12px;
    }
    .or {
        color: #000;
    }
    .forget_password_link {
        text-align: right;
        margin: 15px 0 !important;
    }
    .social_button {
        width: 100%;
        border-radius: 4px;
        padding: 12px;
        margin: 7px 0px;
    }
    .fb_button {
        background: #3b5998 url('./../assets/social/facebook.svg') no-repeat 13px -11px;
        background-size: 40px;
        color: #fff;
    }
    .google_button {
        border: 1px solid #95989a;
        background: #fff url('./../assets/social/google.svg') no-repeat 22px;
        background-size: 20px;
    }
    .paymentDiv {
        background: #fff;
        padding: 5px 5px;
        padding-top: 5px;
        font-size: 14px!important;
        margin: 0!important;
        height: 35px;
        margin-bottom: 10px!important;
    }
    .paymentDetailList {
        margin-top: 10px;
    }
    .paymentDiv .__PrivateStripeElement {
        // padding: 5px !important;
        // background: #fff !important;
    }
    .paymentError {
        font-size: 11px;
        color: #dc1044;
    }
    @media only screen and (min-height: 480px) and (max-height:570px) {
        .logo_container {
            height: 80px;
        }
        .workeefy_logo {
            height: 50px;
        }
        .title_name {
            font-size: 1.4rem;
        }
        .segment-button {
            line-height: 3rem !important;
            font-size: 14px !important;
        }
        .submit_button {
            padding: 10px 31px;
            margin-top: 4px;
        }
        .social_button {
            padding: 7px 31px;
            margin: 7px 0px;
        }
        .or_container {
            margin: 10px 0 10px;
        }
    }
    @media only screen and (height: 568px) {}
    @media only screen and (min-height: 730px) {
        .logo_container {
            height: 26%;
        }
        .workeefy_logo {
            height: 110px;
        }
        .title_name {
            font-size: 2.0rem;
        }
        .forget_password_link {
            margin: 16px 0 !important;
        }
        .fb_button {
            background-size: 46px;
        }
        .social_button {
            margin: 9px 0px;
        }
        .or_container {
            margin: 12px 0 12px;
        }
    }
    .select {
        border-bottom: 1px solid #dc1044 !important;
    }
    .bar-button-default-ios {
        color: #dc1044;
    }
    .select-ios .select-icon .select-icon-inner,
    .select-md .select-icon .select-icon-inner {
        border-right: 2px solid #dc1044;
        border-bottom: 2px solid #dc1044;
        border-left: 0px;
        border-top: 0px;
        left: 0px;
        top: 0%;
        height: 9px;
        width: 9px;
        transform: rotate(45deg);
        color: #fff;
    }
    .terms_Condition {
        margin-left: 8% !important;
    }
    .cuppa-dropdown {
        margin-top: 39px;
        margin-bottom: 11px;
    }
    .arrow-up,
    .input_boxes .arrow-up {
        border-bottom: 9px solid #dc1044 !important;
        border-left: 9px solid transparent !important;
        border-right: 9px solid transparent !important;
    }
    .dropdown-list {
        padding-top: 9px !important;
    }
    .selected-list .c-btn {
        border-bottom: 1px solid #000 !important;
        background: transparent;
        box-shadow: none !important;
        border-radius: 0px !important;
        color: #000;
        border: 0px;
        padding: 10px 0 !important;
    }
    .selected-list .c-list .c-token {
        background: transparent !important;
        font-size: 1.3rem;
        padding: 2px 13px !important;
    }
    .selected-list .c-list .c-token .fa-remove::before {
        margin-left: 2px;
        content: "\2716";
    }
    .pure-checkbox input[type="checkbox"]:checked+label:before {
        background-color: #dc1044 !important;
        border-color: #dc1044 !important;
        color: #dc1044 !important;
    }
    .pure-checkbox input[type="checkbox"]+label:before,
    {
        border-color: #dc1044 !important;
    }
    .dropdown-list ul li {
        padding: 6px 10px !important;
    }
    .select-all {
        padding: 6px 10px;
    }
    .selected-list .fa-angle-up {
        border-right: 2px solid #ccc;
        border-bottom: 2px solid #ccc;
        border-left: 0px;
        border-top: 0px;
        right: 7% !important;
        /* left: 0px; */
        top: 27% !important;
        height: 9px;
        width: 9px;
        -webkit-transform: rotate(225deg);
        transform: rotate(225deg);
        color: #fff;
    }
    .selected-list .fa-angle-down {
        border-right: 2px solid #ccc;
        border-bottom: 2px solid #ccc;
        border-left: 0px;
        border-top: 0px;
        /* left: 0px; */
        right: 7% !important;
        top: 27% !important;
        height: 9px;
        width: 9px;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
        color: #fff;
    }
    .segment-button {
        height: 100% !important;
        color: #252424 !important;
        border: 0px !important;
        font-family: sans-serif !important;
        font-size: 16px !important;
        line-height: 4rem !important;
        font-weight: 600;
        letter-spacing: 1px;
    }
    .segment-activated {
        background-color: transparent !important;
        border-bottom: 3px solid #000 !important;
        color: #000 !important;
    }
    .segment {
        // border-bottom: 1px solid #fcb4b5;
    }
    .line {
        border-bottom: 1px solid #000;
        line-height: .1em;
        margin-bottom: 12px;
    }
}

.platform-android .has-header-with-logo {
    .fixed-content,
    .scroll-content {
        transition: all 0.2s;
        -webkit-transition: all 0.2s;
        margin-top: 56px !important;
        margin-bottom: 47px;
    }
}

.platform-ios .has-header-with-logo {
    .fixed-content,
    .scroll-content {
        transition: all 0.2s;
        -webkit-transition: all 0.2s;
        margin-top: 60px !important;
        margin-bottom: 47px;
    }
}

.toolbar-background-md,
.toolbar-background-ios {
    background: #fff;
}

.checkbox-ios .checkbox-checked,
.alert-ios [aria-checked=true] .alert-checkbox-icon,
.alert-md [aria-checked=true] .alert-checkbox-icon,
.checkbox-md .checkbox-checked {
    border-color: #c8c7cc;
    background-color: #fff;
}

.alert-ios .alert-radio-group,
.alert-ios .alert-checkbox-group,
.alert-md .alert-radio-group,
.alert-md .alert-checkbox-group,
.alert-ios .alert-tappable,
.alert-md .alert-tappable {
    background-color: #fff !important;
}

.checkbox-md .checkbox-checked .checkbox-inner {
    left: 7px !important;
    top: -9px !important;
}

.checkbox-ios .checkbox-checked .checkbox-inner,
.checkbox-md .checkbox-checked .checkbox-inner {
    border-color: #181818 !important;
    left: 10px;
    top: -6px;
    position: absolute;
    width: 7px;
    height: 20px;
    border-width: 2px !important;
    border-top-width: 0 !important;
    border-left-width: 0 !important;
}