<ion-content class="backgroundClass" padding>
    <div class="logo_title_container">
        <img class="workeefy_logo" src="./assets/images/loginPage.png" alt="workeefyLogo">
    </div>

    <ion-segment class="segment_container" [(ngModel)]="formContainer" (ionChange)="segmentChanged($event)">
        <ion-segment-button value="login">
            SIGN IN
        </ion-segment-button>
        <ion-segment-button #signupButton value="signup">
            SIGN UP
        </ion-segment-button>
    </ion-segment>
    <div class="input_field_container" [ngSwitch]="formContainer">
        <!-- For Header auto adjust -->
        <!-- [ngClass]="{'input_field_container_signup_active':formContainer=='signup'}" -->
        <div *ngSwitchCase="'login'" class="login_form_div">
            <form [formGroup]="loginForm" (ngSubmit)="login()">
                <ion-item [ngClass]="{'margin0':loginForm.controls.email.errors && (loginForm.controls.email.touched || loginForm.controls.email.touched)}">
                    <ion-label floating>Email ID *</ion-label>
                    <ion-input type="text" class="form-control" formControlName="email"></ion-input>
                </ion-item>
                <ion-label class="compulsory_field_label" *ngIf="loginForm.controls.email.errors && (loginForm.controls.email.touched || loginForm.controls.email.touched)">Enter a valid email!!</ion-label>

                <ion-item [ngClass]="{'margin0':loginForm.controls.password.errors && (loginForm.controls.password.touched || loginForm.controls.password.dirty)}">
                    <ion-label floating>Password *</ion-label>
                    <ion-input type="password" class="form-control" formControlName="password"></ion-input>
                </ion-item>
                <ion-label class="compulsory_field_label" *ngIf="loginForm.controls.password.errors && (loginForm.controls.password.touched || loginForm.controls.password.dirty)">Password must be of 8 character!!</ion-label>

                <div class="submit_botton_container">
                    <button ion-button block class="submit_button" [disabled]="!loginForm.valid">Login</button>
                    <ion-label class="forget_password_link">
                        <a class="link_to_forget_password" (click)="presentForgetPasswordModal()">Forget Password?</a>
                    </ion-label>
                    <div>
                        <ion-row>
                            <ion-col col-5 class="line"></ion-col>
                            <ion-col col-2><span class="or">OR</span></ion-col>
                            <ion-col col-5 class="line"></ion-col>
                        </ion-row>
                    </div>
                </div>
            </form>
            <button class="social_button fb_button" (click)="socialLogin('fb')">Sign in with Facebook</button>
            <button class="social_button google_button" (click)="socialLogin('google')">Sign in with Google</button>
            <ion-label class="signup_message_container">Dont you have an Account?
                <a class="link_to_signup" (click)="goToSignup()">Sign Up</a>
            </ion-label>
        </div>
        <div *ngSwitchCase="'signup'" class="signup_form_div">
            <form [formGroup]="signupForm" (ngSubmit)="checkFormValue()">
                <ion-row class="accordian" (click)='basicDetailAccordianHandler()'>
                    <ion-label col-11 class="accordianTitle">Basic Details</ion-label>
                    <ion-icon ios="ios-add" md="ios-add" *ngIf="!isBasicDetailAccordianOpen"></ion-icon>
                    <ion-icon ios="ios-remove" md="ios-remove" *ngIf="isBasicDetailAccordianOpen"></ion-icon>
                </ion-row>
                <ion-list class="basicDetailList" *ngIf="isBasicDetailAccordianOpen">
                    <ion-grid>
                        <ion-row>
                            <ion-col class="paddingLeftZero">
                                <ion-item [ngClass]="{'margin0':signupForm.controls.firstName.errors &&(signupForm.controls.firstName.touched || signupForm.controls.firstName.dirty)}">
                                    <ion-label floating>First Name *</ion-label>
                                    <ion-input type="text" class="form-control" formControlName="firstName"></ion-input>
                                </ion-item>
                                <ion-label class="compulsory_field_label" *ngIf="signupForm.controls.firstName.errors &&(signupForm.controls.firstName.touched || signupForm.controls.firstName.dirty)">This field is required**</ion-label>
                                <!-- <ion-label class="compulsory_field_label" *ngIf="signupForm.controls.firstName.errors &&(signupForm.controls.firstName.touched || signupForm.controls.firstName.dirty)">Number & special charecter are not allowed**</ion-label> -->
                            </ion-col>
                            <ion-col class="paddingRightZero">
                                <ion-item [ngClass]="{'margin0':signupForm.controls.lastName.errors &&(signupForm.controls.lastName.touched || signupForm.controls.lastName.dirty) }">
                                    <ion-label floating>Last Name *</ion-label>
                                    <ion-input type="text" class="form-control" formControlName="lastName"></ion-input>
                                </ion-item>
                                <ion-label class="compulsory_field_label" *ngIf="signupForm.controls.lastName.errors && (signupForm.controls.lastName.touched || signupForm.controls.lastName.dirty)">This field is required**</ion-label>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                    <ion-item [ngClass]="{'margin0':signupForm.controls.email.errors && (signupForm.controls.email.touched ||signupForm.controls.email.dirty)}">
                        <ion-label floating>Email *</ion-label>
                        <ion-input type="text" class="form-control" formControlName="email"></ion-input>
                    </ion-item>
                    <ion-label class="compulsory_field_label" *ngIf="signupForm.controls.email.errors &&(signupForm.controls.email.touched || signupForm.controls.email.dirty)">Enter a valid email!!</ion-label>

                    <ion-item [ngClass]="{'margin0':signupForm.controls.password.errors &&(signupForm.controls.password.touched ||signupForm.controls.password.dirty)}">
                        <ion-label floating>Password *</ion-label>
                        <ion-input type="password" class="form-control" formControlName="password"></ion-input>
                    </ion-item>
                    <ion-label class="compulsory_field_label" *ngIf="signupForm.controls.password.errors && (signupForm.controls.password.touched || signupForm.controls.password.dirty)">Password must be of 8 character!!</ion-label>

                    <ion-item [ngClass]="{'margin0':signupForm.controls.phoneNumber.errors &&(signupForm.controls.phoneNumber.touched || signupForm.controls.phoneNumber.dirty)}">
                        <ion-label floating>Phone Number *</ion-label>
                        <ion-input limit-input=10 type="number" class="form-control" formControlName="phoneNumber"></ion-input>
                    </ion-item>
                    <ion-label class="compulsory_field_label" *ngIf="signupForm.controls.phoneNumber.errors && (signupForm.controls.phoneNumber.touched || signupForm.controls.phoneNumber.dirty)">Phone number must be of 10 digits**</ion-label>
                    <div class="address_wrapper">
                        <ion-item [ngClass]="{'margin0':signupForm.controls.address.errors &&(signupForm.controls.address.touched || signupForm.controls.address.dirty)}">
                            <ion-label floating>Address *</ion-label>
                            <ion-input class="form-control" formControlName="address" [(ngModel)]="address.place" type="text">
                            </ion-input>
                            <!-- <ion-input type="text" class="form-control" formControlName="address"></ion-input> -->
                        </ion-item>
                        <div class="ion-item-sibling" (click)="showAddressModal()"></div>
                    </div>
                    <ion-label class="compulsory_field_label" *ngIf="signupForm.controls.address.errors && (signupForm.controls.address.touched || signupForm.controls.address.dirty)">This field is required**</ion-label>

                </ion-list>
                <ion-row class="accordian" (click)='companyDetailAccordianHandler()'>
                    <ion-label col-11 class="accordianTitle">Payment Details</ion-label>
                    <ion-icon ios="ios-add" md="ios-add" *ngIf="!isCompanyDetailAccordianOpen"></ion-icon>
                    <ion-icon ios="ios-remove" md="ios-remove" *ngIf="isCompanyDetailAccordianOpen"></ion-icon>
                </ion-row>

                <ion-list class="paymentDetailList" [hidden]="!isCompanyDetailAccordianOpen">
                    <div #cardNumber class='paddingZero paymentDiv'></div>
                    <div class="paymentError" id="cardNum-error" role="alert" *ngIf="displayError">{{displayError}}</div>
                    <ion-list class="checkBoxLabel margin0">
                        <ion-item class="checkboxItem ">
                            <ion-checkbox class="form-control" formControlName="termsNConditionChecked"></ion-checkbox>
                            <ion-label class="titleCheckBox">By clicking someone will contact me and I agree to terms and conditions</ion-label>
                        </ion-item>
                    </ion-list>
                    <ion-label class="compulsory_field_label terms_Condition" *ngIf="signupForm.controls.termsNConditionChecked.dirty && signupForm.controls.termsNConditionChecked.value != true">*Please accept terms & conditions</ion-label>
                </ion-list>
            </form>
        </div>
    </div>
    <ion-label class="reference_icon_container" *ngIf="formContainer=='login'">
        <a href="javascript:void(0);" (click)="openExternal('https://m.facebook.com/Workeefy-Services-245531299314253/')">
            <ion-icon name="logo-facebook"></ion-icon>
        </a>
        <a href="javascript:void(0);" (click)="openExternal('https://www.linkedin.com/in/workeefy-services-a69630152/')">
            <ion-icon name="logo-linkedin"></ion-icon>
        </a>
        <a href="javascript:void(0);" (click)="openExternal('https://twitter.com/workeefy')">
            <ion-icon name="logo-twitter"></ion-icon>
        </a>
    </ion-label>

</ion-content>
<ion-footer *ngIf="formContainer!='login'">
    <button ion-button full class="submit_button" (click)="signUp()" [disabled]="!signupForm.valid || !signupForm.controls.termsNConditionChecked.value || paymentFormInvalid">Sign Up</button>
</ion-footer>